<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <nav>
            <a href="/" class="logo">vote.ru</a>
            <ul class="nav-menu">
                {% if is_logged_in %}
                {% if session['user_type'] == 'author' %}
                <li class="user-links"><a href="/petitions">Создать петицию</a></li>
                <li class="user-links"><a href="/categories">Создать категорию</a></li>
                <li class="user-info">{{ session['username'] }} | <a href="/logout">Выход</a></li>
                {% endif %}
                {% else %}
                <li class="user-info"><a href="/login">Войти</a> | <a href="/register">Зарегистрироваться</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
    <h1>Categories</h1>
    <form method="POST">
        <label for="name">Category Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea><br><br>

        <button type="submit">Create Category</button>
    </form>
    <h2>Existing Categories</h2>
    <ul>
        {% for category in categories %}
            <li><strong>{{ category[1] }}</strong>: {{ category[2] }}</li>
        {% endfor %}
    </ul>
<footer class="footer">
    <div class="container">
        <p>&copy; 2024 vote.ru. Все права защищены.</p>
    </div>
</footer>
</body>
</html>
