<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ petition[1] }}</title>
    <link href="/static/petitions.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <nav>
            <a href="/" class="logo">vote.ru</a>
            <ul class="nav-menu">
                {% if is_logged_in %}
                <li class="user-info" style="right">{{ session['username'] }} | <a href="/logout">Выход</a></li>
                {% if session['user_type'] == 'author' %}
                <li class="user-links"><a href="/petitions">Создать петицию</a></li>
                <li class="user-links"><a href="/categories">Создать категорию</a></li>
<!--                <li class="user-info">{{ session['username'] }} | <a href="/logout">Выход</a></li>-->
                {% endif %}
                {% else %}
                <li class="user-info"><a href="/login">Войти</a> | <a href="/register">Зарегистрироваться</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<div class="petition-container">
    <h1>{{ petition[1] }}</h1>
    <p><strong>Описание:</strong> {{ petition[2] }}</p>
    <p><strong>Категория:</strong> {{ petition[3] }}</p>
    <p><strong>Автор:</strong> {{ petition[7] }}</p>
    <p><strong>Цель:</strong> {{ petition[4] }} | <strong>Подписало:</strong> {{ petition[5] }}</p>
<!--    <p><strong>Статус:</strong> {{ petition[6] }}</p>-->

    <!-- Subscribe Button -->
    {% if session['user_id'] and not is_subscribed %}
        <form method="POST" action="/subscribe/{{ petition[0] }}">
            <button type="submit" style="background-color: #007bff;
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;">Подписать</button>
        </form>
    {% elif is_subscribed %}
            <button style="background-color: #C2C2C2;
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    ">Подписано</button>
    {% endif %}
    <h3>Написать комментарий:</h3>
    <form method="POST">
        <textarea name="comment_text" rows="4" cols="50" required></textarea><br>
        <button type="submit" style="background-color: #007bff;
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;">Отправить</button>
    </form>
    <h2>Комментарии:</h2>
    <ul>
        {% for comment in comments %}
            <li>
                <p><strong>{{ comment[2] }}</strong> ({{ comment[1] }}):</p>
                <p>{{ comment[0] }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
<footer class="footer">
    <div class="container">
        <p>&copy; 2024 vote.ru. Все права защищены.</p>
    </div>
</footer>
</body>
</html>
