<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание петиции</title>
    <link href="/static/petitions.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <nav>
            <a href="/" class="logo">vote.ru</a>
            <ul class="nav-menu">
                {% if is_logged_in %}
                <li class="user-info" style="right">{{ session['username'] }} | <a href="/logout">Выход</a></li>
                {% if session['user_type'] == 'author' %}
                <li class="user-links"><a href="/petitions">Создать петицию</a></li>
                <li class="user-links"><a href="/categories">Создать категорию</a></li>
<!--                <li class="user-info">{{ session['username'] }} | <a href="/logout">Выход</a></li>-->
                {% endif %}
                {% else %}
                <li class="user-info"><a href="/login">Войти</a> | <a href="/register">Зарегистрироваться</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

    <div class="petition-container">
        <h1>Создание петиции</h1>

        <!-- Уведомление об успешном создании петиции -->
        {% if success_message %}
            <div class="success-message">
                {{ success_message }}
            </div>
        {% endif %}

        <form method="POST" class="petition-form">
            <label for="name">Название:</label>
            <input type="text" id="name" name="name" required placeholder="Введите название петиции">

            <label for="description">Описание:</label>
            <textarea id="description" name="description" required placeholder="Опишите вашу петицию"></textarea>

            <label for="category">Категория:</label>
            <select id="category" name="category" required>
                {% for category in categories %}
                    <option value="{{ category[0] }}">{{ category[1] }}</option>
                {% endfor %}
            </select>

            <label for="required_signatures">Цель подписей:</label>
            <input type="number" id="required_signatures" name="required_signatures" min="1" required placeholder="Введите количество подписей">

            <button type="submit" class="btn">Создать</button>
        </form>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 vote.ru. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>
