<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <h2>Регистрация</h2>
    <form method="POST">
        <div>
            <label for="first_name">Имя:</label>
            <input type="text" name="first_name" required>
        </div>
        <div>
            <label for="last_name">Фамилия:</label>
            <input type="text" name="last_name" required>
        </div>
        <div>
            <label for="email">Электронная почта:</label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <label for="role">Роль:</label>
            <select name="role">
                <option value="patient">Пациент</option>
                <option value="doctor">Врач</option>
            </select>
        </div>
        <div>
            <button type="submit">Зарегистрироваться</button>
        </div>
    </form>
</body>
</html>
